.mainDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 40px;
}

.Heading{
  font-size: 28px;
  font-family: Arial, sans-serif;
  color:rgb(7, 131, 168); /* Text color */
  text-align: center;
  font-weight: bold;
  text-decoration: underline; 
  cursor: pointer;
}
.Heading2{
  font-size: 28px;
  font-family: Arial, sans-serif;
  color:rgb(224, 146, 2); /* Text color */
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline; 
}
